.brand-img{
    width: 20%;
}

.navbar{
    background-color: midnightblue;
}

.nav-link{
    color: white;
}
.nav-item{
    font-size: 20px;
    background-color: midnightblue;
    margin-left: 2%;
    margin-right: 2%;
}

.active{
    background-color: gold;
}

.bottom-align{
    position: absolute;
    bottom: 0;
    margin-left: 30%;
    margin-right: 70%; 
}

.action-buttons{
    position: absolute;
    right:0;
    margin-right: 1%;
    float:right;
    align-self: flex-start;
}

.btn{
    color: white;
    background-color: midnightblue;
     width: 100%;
    margin: 5%;
    
}

.row{
    margin-left: 1%;
    margin-right: 1%;
}
.row-one{
    text-align: center;
    margin-top: 7%;
}

.card-header{
    background-color: midnightblue;
    color: white;
    text-align: left;
}
