<!DOCTYPE html>
<html ng-app="CommentedApp">
<!-- new master commit -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script type="text/javascript" src="js/comments.js"></script>

</head>

<body ng-controller="CommentController">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html"><img class="brand-img rounded-circle" src="images/imageQ.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class = "title">Bachlors in Software Engineering</h1>

        <div class="collapse navbar-collapse  bottom-align" id="navbarSupportedContent">
            <ul class="top-list navbar-nav mr-auto">
                <li class="nav-item active rounded">
                    <a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="curriculum.html">Curriculum<span class="sr-only"></span></a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="faculty.html">Faculty<span class="sr-only"></span></a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="calendar.html">Calendar<span class="sr-only"></span></a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="alumi.html">Alumni<span class="sr-only"></span></a>
                </li>
                <li class="nav-item rounded">
                    <a class="nav-link" href="opportunities.html">Oportunities<span class="sr-only"></span></a>
                </li>

            </ul>

        </div>
        <div class="action-buttons">
            <div>
                <button type = "button" data-toggle = "modal" data-target = "#LoginModal" class="btn btn-secondary">Login</button>
            </div>
            <a href="https://admissions.quinnipiac.edu/apply/">
                <div><button class="btn btn-secondary">Apply Now</button></div>
            </a>
        </div>
    </nav>
    <!-- end navbar-->

    <div class="row row-one">
        <!-- col for main part of page-->
        <div class="col-lg-9">
            <div class="card">
                <!--bread crumbs for each page-->
                <div class="card-header card-main-head">
                    Bachlor is SE/Home
                
                <div class = search style = "float:right;">
                    <input type = "text">
                    <button class = "btn btn-warning">Search</button>
                </div>
                </div>
                
                <div class="card-body">
                    <!--main content of page-->
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-car" src="images/SlideImage1.jpg" alt="">
                                <div class="carousel-caption">
                                    <h3>We are a team</h3>
                                    <p>Our team efforts create new things</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="img-car" src="images/SlideImage2.jpg" alt="">
                                <div class="carousel-caption">
                                    <h3>We Support Curiousity</h3>
                                    <p>Our team efforts create new things</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="img-car" src="images/SlideImage3.jpg" alt="">
                                <div class="carousel-caption">
                                    <h3>We accept alot of the BEST</h3>
                                    <p>We accept 73.7% of applicants, but you will need at least a 3.4 out of 4.0 GPA</p>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                    <!--end carousel-->
                    <a href="https://admissions.quinnipiac.edu/apply/"><button class="btn btn-primary">Apply Now</button></a>
                </div>
            </div>
        </div>

        <!--col for the comments-->
        <div class="col-lg-3">
            <div class="card comment-card">
                <div class="card-header card-main-head">Comments</div>
                <div class="card-body" style = "overflow-y: scroll;">
                    <!--comments go here-->
                    
                    <div class="card ind-comm-card" ng-repeat="comment in comments | filter:{Page:'Home'}">
                        <div class="card-header comm-head">{{comment.Category}}, {{comment.Rating}}/5, ~{{comment.Type}}</div>
                        <p class="card-text">{{comment.Comment}}</p>
                        <p class="card-text comm-date">{{comment.Date}}</p>
                    </div>
                    
                    
                    <!-- this is only shown when logged in -->
                    <div class = "card" ng-show="isLoggedIn" style = "bottom: 0; position: absolute; margin: 1%; width: 87%;">
                        <div class = "card-header card-main-head">Add Comment</div>
                        <form class = "form-vertical" name = "CommentForm" ng-submit = "submitComment(new_comment)" novalidate>
                        <div class ="card-body">
                        
                        <!-- add comment area -->
                        <!-- category -->
                        <div class="form-row comm-form" ng-class = "{ 'has-error' : CommentForm.Category.$invalid && !CommentForm.Category.$pristine }">
                       
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="What is it about" ng-model="new_comment.Category" required>
                                
                            </div>
                            
                        </div>
                            
                            
                            <!-- rating -->
                        <div class = "form-row comm-form">
                            <label for = "rating" class="col-sm-4 control-label">Rating</label>
                            <div class = "col-sm-8">
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model = "new_comment.Rating" value = "1"> 1</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model = "new_comment.Rating" value = "2"> 2</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model = "new_comment.Rating" value = "3"> 3</label>
                                <label class="radio-inline" ><input type="radio" name="optradio" ng-model = "new_comment.Rating" value = "4"> 4</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-model = "new_comment.Rating" value = "5" checked> 5</label>
                            </div>
                        </div>
                            <!-- comment -->
                        <div class="form-row comm-form" ng-class = "{'has error': CommentForm.comment.$error.required. && !CommentForm.comment.$pristine}">
                        
                            <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Enter Comment" ng-model="new_comment.Comment" style = "width:100%;" required></textarea>
                        
                            </div>
                        
                        
                        </div>
                        
                        <div class = "card-footer">
                            <button type="submit" class="btn btn-warning sub-btn" style="width:20%;" ng-click = "newCommentSet('Home')">Add</button>
                        
                        </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>

<!---modal section-->

<div class="modal" id="LoginModal">
    <div class="modal-dialog">
        
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class = "modal-body" style = "text-align: center">
                <img class = "img" src="images/modalQ.jpg">
                
            <form class = "form-vertical" name = "LoginForm" novalidate>

            <div class = "form-group" ng-class = "{ 'has-error' : LoginForm.Email.$invalid && !LoginForm.Email.$pristine }">
                <label>Your Quinnipiac Email Adress</label>
                <input type="text" id="Email" name = "Email" placeholder="firstname.lastname@quinnipiac.edu" class = "form-control" required>
            </div>

            <div class = "form-group" ng-class = "{ 'has-error' : LoginForm.Password.$invalid && !LoginForm.Password.$pristine }">
                <label>Your Quinnipiac Email Password</label>
                <input type="password" id="Password" name = "Password" placeholder="Password" class = "form-control" required>
            </div>

            <div>
                <button type="submit" class = "btn btn-primary sub-btn" id="submit" value = "Login" data-dismiss="modal" ng-click = "toggleLoggedIn()">Login</button>
            </div>
        </form>
            </div>
            
            <!-- Modal footer -->

        </div>
        
    </div>
</div>
</body>

</html>
